.ProductsTable  {
    padding: 30px 70px;
}

.logoWhite {
    margin-bottom: 30px 
}

.btns-wrap {
    display: flex;  
    justify-content: space-between;
    align-items: center;

}

.table-title {
    color: #fff;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 75px;
}

