.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 370px;
    padding: 90px 110px 215px;
    background-color: #fff;
    margin: 150px auto;
}

.logo {
    margin-bottom: 75px;
}

.input-wrapp {
    position: relative;
}

.input-icon {
    position: absolute;
    color: #0EC86F;
    font-size: 30px;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.input-wrap small {
    display: block;
    margin: 0;
    position: absolute;
    top: 60px;
    left: 0px;
    color: red;
    visibility: hidden;
}

.input-wrap.success input {
    border: 2px  solid green;
}

.input-wrap.error input {
    border: 2px  solid red;
}

.input-wrap.error small {
    visibility: visible;
}
