.logo {
    display: block;
    margin: 30px;
}

.ProductItems-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 60px;
    margin: 50px 0 100px 130px;
}